* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: aqua;
}

body {
    background-image: url("AussieCover.jpg");
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

#header a {
    margin: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#header img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
    width: 100%;
    z-index: -1;
    height: 100%;
}